<%= render 'header' %>

<section>
  <div class="container box margin-top-50">
    <% @jobs.each do |job| %>
      <div class="row list">
        <div class="col-lg-1 col-md-2 col-sm-1 d-sm-none d-md-block">
          <a href="#" class="logo">
            <img src="https://via.placeholder.com/84x84" class="img-fluid" alt="">
          </a>
        </div>
        <div class="col-lg-9  col-md-7 col-sm-9">
          <h4><a href="job-details.html"><%= job.title %></a></h4>
          <div>
            <span><a href="#"><i class="fa fa-building"></i><%= job.company.name %></a></span>
            <span><a href="#"><i class="fa fa-map-marker-alt"></i>New York City</a></span>
            <span><a href="#"><i class="fa fa-clock"></i></svg><%= job.try(:work_type).try(:titleize)%></a></span>
          </div>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-3">
          <a href="#" class="btn btn-secondary apply_button">Apply Now</a>
        </div>
      </div>
    <% end %>
  </div>
</section>
