.list {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin: 0;

  .logo {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
  }

  .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h4 {
    font-size: 1.2rem;
    color: $dark_grayish;
    margin-bottom: 15px;
  }

  span {
    color: $medium_grayish;
  }

  span svg {
    height: 15px;
    color: #aaa;
  }

  .apply_button {
    margin-top: 1.5rem;
  }

  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-top: none;
  }



}