<li class="nav-item"><%= link_to "My Companies", employers_companies_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to "Jobs", employers_company_jobs_path(current_user.company), class: "nav-link" %></li>